* {
  margin: 0px;
  padding: 0px;
}

nav > ul {
  display: flex;
  font-size: 30px;
  justify-content: space-evenly;
  padding: 0 0;
}

nav > ul > li {
  display: inline-block;
  text-decoration: none;
  padding: 0.9rem 0.9rem;
}

html,
body {
  height: 15%;
  line-height: 2;
  font-family: "Prata", serif;
  font-size: 2.1em;
}

#container {
  min-height: 5%;
}

ul {
  list-style-type: none;
}

ul li {
  float: left;
  margin: 10px;
}

#main {
  overflow: auto;
  padding-bottom: 100px;
}

#media {
  font-size: larger;
}

#forms {
  font-size: larger;
}

a {
  color: black;
  text-decoration: none;
}

#footer {
  background-color: #5d3056;
  padding: 0.9em;
  position: relative;
  height: 95px;

  text-align: left;
  clear: both;
}

body {
  background-color: #7f607c;
  text-align: center;
}

h4 {
  color: black;
  text-align: center;
  font-family: "Great Vibes", cursive;
}

div {
  font-size: 0.8em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 1px 2px;
}

.fa-bars {
  display: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}

form {
  padding-bottom: 10em;
  font-size: 20px;
}

h5 {
  padding-bottom: 2.5em;
}

video {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

@media (max-width: 549px) {
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }

  .fa-bars {
    display: block;
  }
}
