* {
  margin: 0px;
  padding: 0px;
}

nav > ul {
  display: flex;
  font-size: 14px;
  justify-content: space-evenly;
  padding: 0 0;
}

nav > ul > li {
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  padding: .5rem .5rem;
  border-radius: 50px;
}

html, body {
  height: 15%;
  line-height: 2;
  font-family: 'Prata', serif;
  font-size: 1.4em;
  }

  #container {
    min-height: 5%;
}

  ul{
    list-style-type: none;
  }

  ul li{
    float: left;
    margin: 10px;
  }

#main {
  overflow: auto;
  padding-bottom: 15px;

}

.Sameline {
  display: inline-block;
  border: 2px solid black;
  padding:2px;
  margin:25px;
  }

#media {

  font-size:larger;
}

#forms {

  font-size: larger;
}

#footer {
  background-color: #5d3056;
  padding: .9em;
  position: relative;
  height: 70px;
  margin-top: 10px;
  text-align: left                                            ;
  clear: both;

}
body {
  background-color: #7f607c;
  text-align: center;
  }
  h4 {
    color: black;
    text-align: center;
    font-family: 'Great Vibes', cursive;

    }

div{
  font-size: .8em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 18px;
  text-align: center;
  text-decoration: none;
  margin: 1px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}

form {
  font-size: 20px;
}

.vimeo-wrapper{

  width:25%

}

.vimeo-video-1{
 float: right;
 width:50%;
}


.vimeo-video-2 {
 float:right;
 width:50%;
}

h5 {
  padding-bottom: 2.5em;
}